## Monte Carlo - Black Scholes Merton

#### Libraries

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

In [2]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

In [3]:
norm.cdf(0)

0.5

In [4]:
norm.cdf(0.25)

0.5987063256829237

In [5]:
norm.cdf(0.75)

0.7733726476231317

In [6]:
norm.cdf(9)

1.0

#### SN(d1) - Ke^-rtN(d2)

In [7]:
def BSM(S, K, r, stdev, T):
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [8]:
ticker = 'PG'
data = pd.DataFrame()
data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2007-1-1', end='2017-3-21')['Adj Close']

In [9]:
data.tail()

                   PG
Date
2017-03-15  81.414391
2017-03-16  81.450005
2017-03-17  81.058083
2017-03-20  81.254051
2017-03-21  81.227325

In [10]:
S = data.iloc[-1]
S

PG    81.227325
Name: 2017-03-21 00:00:00, dtype: float64

In [11]:
log_returns = np.log(1 + data.pct_change())

In [12]:
stdev = log_returns.std() * 250 ** 0.5

In [13]:
r = 0.025
K = 110.0
T = 1

In [14]:
d1(S, K, r, stdev, r)

PG   -10.826213
dtype: float64

In [15]:
d2(S, K, r, stdev, r)

PG   -10.854128
dtype: float64

In [16]:
BSM(S, K, r, stdev, r)

PG    2.657359e-28
Name: 2017-03-21 00:00:00, dtype: float64